#no-items {
  padding: 2rem 0;
  color: lightgray;
  font-style: italic;
}

.read-item {
  border-left-width: 10px;
}

.read-item.is-active {
  background-color: #FAFAFA;
}

.panel {
  padding-top: 52px;
  margin-bottom: 0 !important;
}

.panel-heading {
  position: fixed;
  width: 100%;
  margin-top: -52px;
  z-index: 9999;
}

.message {
  padding: 1rem;
}

.error {
  color: red;
}
